*{
   margin: 0%;
   padding: 0;
   box-sizing: border-box; 
}

img{
    height: 320px;
    width: 325px;
    border-radius: 30px;
}

table{
    padding: 20px;
}


.inframe {
    height: 100vx;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

p {
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
